.custom-button[data-size='sm'] {
  border-radius: 4px;
  padding: 6px 12px;
  gap: 6px;
}

.custom-button[data-size='sm'] .button__text {
  font: var(--font-roboto-medium-sm);
}

.custom-button[data-size='sm'] .button__icon {
  font-size: 20px;
}
