.button[data-rounded] {
  border-radius: 20px;
}
.button:not([data-icon-only])[data-rounded] {
  padding: 8px 20px;
}

.button[data-size='sm'][data-rounded] {
  border-radius: 16px;
}
.button:not([data-icon-only])[data-size='sm'][data-rounded] {
  padding: 6px 16px;
}

.button[data-size='xs'][data-rounded] {
  border-radius: 12px;
}
.button:not([data-icon-only])[data-size='xs'][data-rounded] {
  padding: 4px 12px;
}
