.custom-input[data-rounded] {
  border-radius: 20px;
}

.custom-input[data-rounded] .custom-icon:first-child {
  margin: 8px 8px 8px 16px;
}
.custom-input[data-rounded] .custom-icon:last-child {
  margin: 8px 16px 8px 8px;
}
