.custom-input[data-rounded] {
  border-radius: 20px;
}

.custom-input[data-rounded] > .custom-icon:first-child {
  margin-left: 14px;
}
.custom-input[data-rounded] > .custom-icon:last-child {
  margin-right: 14px;
}
