.button {
  --bg-color: rgba(var(--color-zinc-700));
  --text-color: rgba(var(--color-zinc-100));

  --hover-bg-color: rgba(var(--color-zinc-600));
  --hover-text-color: rgba(var(--color-zinc-50));

  --active-bg-color: rgba(var(--color-zinc-500));
  --active-text-color: rgba(var(--color-zinc-50));

  --focus-outline-color: rgba(var(--color-zinc-50));
}

.button[data-transparent] {
  --bg-color: rgba(var(--color-zinc-50), 0.06);
  --text-color: rgba(var(--color-zinc-100));

  --hover-bg-color: rgba(var(--color-zinc-50), 0.12);
  --hover-text-color: rgba(var(--color-zinc-50));

  --active-bg-color: rgba(var(--color-zinc-50), 0.18);
  --active-text-color: rgba(var(--color-zinc-50));

  --focus-outline-color: rgba(var(--color-zinc-50));
}

.button:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--color-zinc-50));

  --hover-bg-color: rgba(var(--color-zinc-50), 0.06);
  --hover-text-color: rgba(var(--color-zinc-50));

  --active-bg-color: rgba(var(--color-zinc-50), 0.12);
  --active-text-color: rgba(var(--color-zinc-50));

  --focus-outline-color: rgba(var(--color-zinc-50));
}
