.button[data-variant='secondary'] {
  --bg-color: rgba(var(--color-sky-700));
  --text-color: rgba(var(--color-sky-100));

  --hover-bg-color: rgba(var(--color-sky-600));
  --hover-text-color: rgba(var(--color-sky-50));

  --active-bg-color: rgba(var(--color-sky-500));
  --active-text-color: rgba(var(--color-sky-50));

  --focus-outline-color: rgba(var(--color-sky-50));
}

.button[data-variant='secondary'][data-transparent] {
  --bg-color: rgba(var(--color-sky-400), 0.12);
  --text-color: rgba(var(--color-sky-400));

  --hover-bg-color: rgba(var(--color-sky-400), 0.18);
  --hover-text-color: rgba(var(--color-sky-300));

  --active-bg-color: rgba(var(--color-sky-400), 0.24);
  --active-text-color: rgba(var(--color-sky-50));

  --focus-outline-color: rgba(var(--color-sky-400));
}

.button[data-variant='secondary']:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--color-sky-400));

  --hover-bg-color: rgba(var(--color-sky-400), 0.08);
  --hover-text-color: rgba(var(--color-sky-300));

  --active-bg-color: rgba(var(--color-sky-400), 0.12);
  --active-text-color: rgba(var(--color-sky-200));

  --focus-outline-color: rgba(var(--color-sky-400));
}
