.camera {
  width: 100%;
  height: 100%;
  position: relative;
}

.camera .camera__field {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  transition: transform 0.15s;
}
