/* States */
@import './states/border.css';
@import './states/disabled.css';
@import './states/rounded.css';

/* Variants */
@import './variants/base.css';

.custom-input {
  display: flex;
  position: relative;

  width: 100%;
  border-radius: 6px;

  transition: background-color 0.15s, box-shadow 0.15s, color 0.15s, opacity 0.15s;
}

.custom-input .custom-input__field {
  appearance: none;

  background: none;
  outline: none;
  border: none;
  color: inherit;

  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font: var(--font-roboto-normal);
}

/* Paddings */
.custom-input .custom-input__field {
  padding: 8px 16px;
}
.custom-input .custom-input__field:not(:first-child) {
  padding-left: 8px;
}
.custom-input .custom-input__field:not(:last-child) {
  padding-right: 8px;
}

/* Icon */
.custom-input > .custom-icon {
  margin: 8px;
}
