/* Custom Elements */
@import './custom-elements/custom-elements.css';

/* Elements */
@import './plate/plate.css';
@import './camera/camera.css';
@import './board/board.css';

/* Tools */
@import './tools/tools.css';

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app .top {
  margin-top: 16px;
}
#app .right {
  margin-right: 16px;
}
#app .bottom {
  margin-bottom: 16px;
}
#app .left {
  margin-left: 16px;
}

#app .plate_zoom .custom-button:nth-child(2) {
  min-width: 80px;
}

#app .center-tool {
  margin-bottom: calc(56px + 16px + 24px);
}
