@import './custom-elements/custom-elements.css';

* {
  color: rgb(var(--color-zinc-50));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--font-roboto-normal);
}

html,
body {
  background-color: rgb(var(--color-zinc-900));
  width: 100%;
  min-height: 100vh;
}
