@import './fonts.css';
@import './colors.css';
@import './global.css';

* {
  color: rgb(var(--color-zinc-50));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--font-normal);
}

html,
body {
  background-color: rgb(var(--color-teal-950));
  width: 100%;
  min-height: 100vh;
}
