@import './fonts.css';
@import './colors.css';
@import './global.css';

@import './custom/main.css';

* {
  color: rgb(var(--color-zinc-50));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: var(--font-normal);
}

html,
body {
  background-color: rgb(var(--color-zinc-900));
  width: 100%;
  min-height: 100vh;
}

#app {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  gap: 24px;
  padding: 24px;
}
