@import './sizes/base.css';
@import './sizes/sm.css';
@import './sizes/xs.css';

@import './states/iconOnly.css';
@import './states/disabled.css';
@import './states/active.css';
@import './states/align.css';
@import './states/rounded.css';

@import './variants/base.css';
@import './variants/secondary.css';
@import './variants/submit.css';
@import './variants/warning.css';
@import './variants/error.css';

.custom-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: none;
  outline: none;
  display: flex;
  justify-content: center;

  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.custom-button .button__text {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-button .button__icon {
  color: inherit;
}

/* .... */
.custom-button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.custom-button:not(:disabled):hover,
.custom-button:not(:disabled):focus-visible:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.custom-button:not(:disabled):active,
.custom-button:not(:disabled):focus-visible:active {
  background-color: var(--active-bg-color);
  color: var(--active-text-color);
}

.custom-button:not(:disabled):focus-visible {
  outline: 1px solid var(--focus-outline-color);
}
